{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-md-7">
                <div class="card shadow-sm">
                    <img src="{{ object.image | media_filter }}" class="img-fluid">
                    <div class="card-body">
                        <p class="card-text">{{ object.title }}</p>
                        <p class="card-text" > {{ object.content }} </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'blog:blog_list' %}"
                                   class="btn btn-md btn-block btn-outline-secondary"> Назад </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}