{% extends 'catalog/base.html' %}
{% block content %}

<div class="row">
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-3"></div>
            <div class="col-5" >
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Восстановление пароля
                        </h3>
                        <p class="card-subtitle mb-2 text-muted">
                            Укажите адрес электронной почты, который вы использовали при регистрации.
                            Мы вышлем вам новый пароль для входа.
                        </p>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-success">
                       Отправить
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}